body{
    .item{
        img{
            border-radius: 10px;
            border: 2px solid rgb(202, 172, 172);
            cursor: pointer;
            height: 230px;
            width: 100%;
        }
    }
    .overlay{
        width: 100vw;
        height: 100vh;
        background: #000000c7;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .bigImgItem{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid #ffffff;
        border-radius: 5px;
        z-index: 2;
        &:hover{
            .imgLeft{
                opacity: 1;
            }
            .imgRight{
                opacity: 1;
            }
        }
        .imgLeft{
            opacity: 0;
            background: #0000008f;
            border-radius: 50%;
            padding: 0 15px;
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translate(0, -50%);
            font-size: 30px;
            color: #ffffff;
            cursor: pointer;
            transition: all .3s ease-out;
            &:hover{
                background: #000000;
            }
        }
        .imgRight{
            opacity: 0;
            background: #0000008f;
            border-radius: 50%;
            padding: 0 15px;
            position: absolute;
            top: 50%;
            right: 2%;
            transform: translate(0, -50%);
            font-size: 30px;
            color: #ffffff;
            cursor: pointer;
            transition: all .3s ease-out;
            &:hover{
                background: #000000;
            }
        }
    }    
}